<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>注册</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="js/lib/frozenui/dist/css/frozen.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body ng-app="myApp" ng-controller="register_Ctrl">
<div class="page page-current">
    <header class="bar bar-nav">
        <button class="nav-back button button-link button-nav pull-left">
            <a href="index.html"><img src="images/common/arrow-left.png" alt="返回"></a>
        </button>
        <h1 class="title">注册</h1>
    </header>
    <!-- 这里是页面内容区 -->
    <div class="content">
        <div class="row top-row">
            <a class="pull-right register-link" href="login.html">已有账号,登录</a>
        </div>
        <div class="content-block ui-form">
            <form class="register-form" action="/register.java" name="registerForm" novalidate>
                <div class="row">
                    <div class="ui-form-item ui-form-item-pure">
                        <input type="number" name="phone" ng-model="phone" placeholder="手机号">
                    </div>
                </div>
                <div class="row captcha-row">
                    <div class="col-50 ui-form-item">
                        <input class="input-captcha" type="number" name="captcha" ng-model="captcha" placeholder="验证码">
                    </div>
                    <div class="col-50 ui-form-item">
                        <input class="get-captcha" type="button" name="geCaptcha" ng-click="getCaptcha" value="发送验证码">
                    </div>
                </div>
                <div class="row">
                    <div class="ui-form-item ui-form-item-pure">
                        <input type="password" name="password" ng-model="password" placeholder="密码">
                    </div>
                </div>
                <div class="row">
                    <div class="ui-form-item ui-form-item-pure">
                        <input type="password" name="password1" ng-model="password1" placeholder="再次确认密码">
                    </div>
                    <div class="pass_check ui-form-item" style="display: none">
                        <p style="color:red" ng-bind="pass_message"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="ui-btn-wrap">
                        <button class="submit ui-btn-lg ui-btn-primary">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/lib/requirejs/require.min.js" data-main="js/register" defer async="true" charset="utf-8"></script>
</body>
</html>