body{
  -webkit-user-select:initial;
  background-color: #fff;
}
body>a{display: none;}
.demo-desc{
  padding: 10px;
  font-size: 16px;
  color: #7CAE23;
}
.content h3{
  padding: 0 15px;
  line-height: 44px;
}
.border-list{
  background-color: #fff;
}
.border-list li{
  width: 100px;
  margin: 10px auto;
  -webkit-box-pack: center;
  text-align: center;
}
.ui-btn-group-bottom{bottom: 56px;}
.ui-table{
  line-height: 40px;
  text-align: center;
  background-color: #fff;
}
.ui-scroller {width:auto;height:300px;margin:20px;padding:10px;overflow:hidden;}
.ui-scroller li {margin-bottom:10px;}
.ui-notice{
  top: 0;
  z-index: -1;
  height: 400px;
}
.icon-lists li{
  float:left;
  height: 100px;
  width: 103px;
  text-align: center;

}
.icon-lists li i{
  font-size: 32px;
  line-height: 44px;
}
.icon-lists .ui-icon,.icon-lists [class^="ui-icon-"]{
  margin: 10px 0;
  color: #000;
}
.code,.fontclass{
  font-size: 12px;
}
.ui-col{
  padding: 5px;
  background: #777;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
.ui-flex{
  //border: 1px solid #ddd;
  //min-height: 80px;
  //margin-bottom: 10px;
}
.ui-flex-ver{
  border: 1px solid #ddd;
  min-height: 80px;
  margin-bottom: 10px;
}
.ui-row-flex-ver{
  border: 1px solid #ddd;
  min-height: 100px;
}
.test-img {
  width: 50px;
  height: 50px;
  background: #777;
}

.page{
  background: #fff;
}
.hide{
  display: none;
}
.content-block{
  margin: 0;
  padding: 0;
}
.buttons-fixed {
  margin-top: 2.2rem;
}
/*me*/
.list-block .item-link .item-inner{
  margin-left:0;
}
// detail page
.detail {
    background: #fff;
  .list-block{
    margin: 0;
  }
  h3.reward{
    font-size: 1.0rem;
    padding: 15px 15px;
    border-bottom: 1px solid #ddd;
  }
  .detail-top-list{
    .item-title-row{
      position: absolute;
      top:0.75rem;
    }
    .item-subtitle{
      position: absolute;
      bottom: 0.75rem;
    }
  }
  .detail-middle-list{
    padding: 20px 15px;
    border-bottom: 4px solid #ddd;
  }
  .detail-desc{
    overflow: auto;
    padding-top: 1rem;
    .list-title{
      padding: 0 20px;
      border-left: 8px solid #999;
    }
    .list-content{
      .item-title{
        white-space: inherit;
        font-size: 16px;
      }
      padding-top: 1rem;
    }
  }
  .notice{
    color: red;
    .notice-title{
      font-size: 16px;
    }
    .item-title{
      font-size: 14px;
    }
  }
  .detail-desc .list-block .item-inner:after,.notice .list-block .item-inner:after{
    background: #fff;
  }
  .task-picture{
    clear: both;
    overflow: auto;
    .media-content{
      width: 640px;
      overflow-x: scroll;
    }
    .item-media{
      display: inline-block;
      float: left;
      padding-right: 20px;
    }
    .item-media:last-child{
      padding-right: 0;
    }
  }
  .task-apply {
    height:2rem;
    a{
      text-align: center;
      display: block;
      width: 100%;
      background: #00a5e0;
      line-height: 2rem;
      color: #fff;
    }
  }
  .task-applyed{
    background: #fff;
    height: 2.0rem;
    li.list-info-title {
      width: 50%;
      text-align: center;
      line-height: 2.0rem;
    }
    .li.list-info-title:first-child{
      border-right: 2px solid #eee;
    }
  }
}
.blank-block{
  background-color: #f5f5f5;
}
.blank-block.h1{
  min-height: 1rem;
}
@import "reset";
@import "header";
@import "footer";