.task-list {
  .ui-list-thumb{
    width: 5rem;
    height:5rem;
  }
}
.task-item {
  .list-info-title {
    a,h2 {
      font-size: 1rem;
      color: #1d1d1d;
      margin-bottom: 0.5rem;
    }
    .ui-btn.invest{
      color: #fd7fdb;
      background-color: #ffdbf6;
      border: 1px solid #ffb5eb;
    }
    .ui-btn.register{
      color: #438ed6;
      background-color: #ebfaff;
      border: 1px solid #a6e9ff;
    }
    .ui-btn.register-award{
      color: #ff6d7b;
      background-color:#ffdbf6 ;
      border: 1px solid #ff0000;
    }
  }
  .right-btn {
    .ui-btn{
      height:1.5rem;
      color: #ff9900;
      padding: 5px 15px;
      margin-top: 0.5rem;
      background-color: #fff;
    }
    .ui-btn:before{
      border: 1px solid #ff9900;
    }
  }
  .ui-list-thumb span{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  }
  .ui-list-info{
    border-bottom: 1px solid #e4e3e6;
    display: block;
    padding-right: 0;
    ul{
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    .task-item-description{
      color: #999;
      line-height: 22px;
      padding-top: .5rem;
    }
  }
  .status-block{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background: #e1e1e1;
    opacity: 0.6;
    div{
      color: #040404;
      padding: 25px 15px 15px 15px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid #4b4b4b;
      font-weight: 700;
    }
  }
}