.total-money{
  padding: 0.5rem 1.5rem 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.user-name{
  padding: 15px;
  font-size: 0.8rem;
}
.list-block{
  margin: 0;
}
.guess-list{
  font-size: 16px;
  height: 1.2rem;
}
a{
  color: #1d1d1d;
}
.content-padded{
  margin-bottom: 0;
}