@import "../compoent/task_list";
.task-item .ui-list-info {
  position: relative;
}
.task-item-description{
  position: absolute;
  bottom: 10px;
}
.task-item {
  .right-btn.checkNo,.right-btn.timeout{
    .ui-btn{
      color: #999;
    }
    .ui-btn:before{
      border: 1px solid #999;
    }
  }
  .right-btn.checked,.right-btn.finish{
    .ui-btn{
      color: #1d1d1d;
    }
    .ui-btn:before{
      border: 1px solid #1d1d1d;
    }
  }
}