<!doctype html>
<html lang="ch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>云客平台后台 | 用户结算</title>
    <!--<link rel="stylesheet" type="text/css" href="../js/lib/flat-ui/dist/css/flat-ui.min.css" />-->
    <link rel="stylesheet" type="text/css" href="../js/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../js/lib/AdminLTE-2.4.2/dist/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="../js/lib/AdminLTE-2.4.2/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../js/lib/AdminLTE-2.4.2/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../js/lib/AdminLTE-2.4.2/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        .tableHeader>div,.user-list>div {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }
        .next-page,.pre-page{
            cursor: pointer;
        }
        .next-page.disabled,.pre-page.disabled{
            cursor: not-allowed;
        }
    </style>
</head>
<body  ng-app="myApp">
<div id="wrap" class="skin-blue"  ng-controller="home_Ctrl">
    <header class="main-header">
        <a href="index.html" class="logo">
            <span class="logo-lg"><b>云客平台</b></span>
        </a>
        <nav class="navbar navbar-static-top">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">Admin</span>
                        </a>
                    </li>
                    <li>
                        <a class="sign-out" href="#" data-toggle="control-sidebar">Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--左侧导航-->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height: auto;">
            <!-- Sidebar user panel -->
            <ul class="sidebar-menu tree" data-widget="tree">
                <li class="header">云客平台</li>
                <li class="treeview active menu-open">
                    <a href="#">
                        <i class="fa fa-users"></i> <span>用户管理</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="users.html"><i class="fa fa-user"></i>用户管理</a></li>
                        <li class="active"><a href="user-settlement.html"><i class="fa fa-credit-card"></i>用户结算</a></li>
                    </ul>
                </li>
                <li>
                    <a href="task.html">
                        <i class="fa fa-th"></i> <span>任务管理</span>
                        <!--<span class="pull-right-container">-->
                        <!--<small class="label pull-right bg-green">new</small>-->
                        <!--</span>-->
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i> <span>任务订单管理</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li><a href="invoice.html"><i class="fa fa-money"></i> 订单流水</a></li>
                        <li><a href="profile.html"><i class="fa fa-circle-o"></i> 审核订单</a></li>
                    </ul>
                </li>
                <li>
                    <a href="agent.html">
                        <i class="fa fa-group"></i> <span>代理商管理</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-magnet"></i> <span>权限管理</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li><a href="invoice.html"><i class="fa fa-user"></i> 角色管理</a></li>
                        <li><a href="profile.html"><i class="fa fa-circle-o"></i> 系统用户</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- 右侧具体内容栏目 -->
    <div id="rightContent">
        <!-- Tab panes -->
        <div class="tab-content">
            <!--用户管理模块-->
            <div role="tabpanel" class="tab-pane active" id="user">
                <!--筛选部分-->
                <div class="check-div form-inline">
                    <div class="col-lg-6 col-xs-7 no-padding">
                        <div class="col-md-5 no-padding">
                            <div class="col-md-4">
                                <label for="user_id">用户ID</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="user_id" class="form-control input-sm" placeholder="输入用户的id">
                            </div>
                        </div>
                        <div class="col-md-5 no-padding">
                            <div class="col-md-4 no-padding">
                                <label for="user_phone">用户手机</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="user_phone" class="form-control input-sm" placeholder="输入用户手机号码">
                            </div>
                        </div>
                        <div class="col-md-2 no-padding">
                            <button class="btn-search btn btn-white btn-xs ">查 询 </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-4" style="text-align: right;">
                        <label for="agent">用户所属商户:&nbsp;</label>
                        <select id="agent" class="agent-name form-control">
                            <!--账号状态-->
                            <option value=""></option>
                            <option ng-repeat="agent in agents" value="{{agent.name}}" ng-bind="agent.val"></option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-xs-4" style=" padding-right: 40px;text-align: right;">
                        <label for="status">状态:&nbsp;</label>
                        <select id="status" class="user-status form-control">
                            <!--账号状态-->
                            <option value=""></option>
                            <option ng-repeat="status in user_status" value="{{status.name}}" ng-bind="status.val"></option>
                        </select>
                    </div>
                </div>
                <div class="form-inline col-md-12 clearfix" style="height: 40px;padding: 5px 15px">
                    <div class="col-md-2" style="line-height: 30px">
                        <button class="btn-export-orders btn btn-white btn-xs"> 导出待结算订单</button>
                    </div>
                    <div class="col-md-2" style="line-height: 30px">
                        <button class="btn-import-orders btn btn-white btn-xs "> 导入订单结算</button>
                    </div>
                    <div class="col-md-1" style="line-height: 30px">订单时间:</div>
                    <div class="col-md-2 no-padding">
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" name="start-time" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 no-padding" style="max-width: 30px;text-align: center;line-height: 30px"> --- </div>
                    <div class="col-md-2 no-padding">
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" name="end-time" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--用户列表-->
                <div class="data-div">
                    <!--列表头-->
                    <div class="row col-xs-12 tableHeader">
                        <div class="col-xs-1">用户ID</div>
                        <div class="col-xs-1">用户手机号</div>
                        <div class="col-xs-1">状态</div>
                        <div class="col-xs-1">所属商户</div>
                        <div class="col-xs-1">收款姓名</div>
                        <div class="col-xs-1">收款账号</div>
                        <div class="col-xs-1">总订单数</div>
                        <div class="col-xs-1">待结算订单</div>
                        <div class="col-xs-1">待结算金额</div>
                        <div class="col-xs-1">已结算订单</div>
                        <div class="col-xs-1">已结算金额</div>
                        <div class="col-xs-1"></div>
                    </div>
                    <div class="tablebody">
                        <!--数据列表-->
                        <div class="row col-xs-12 user-list clearfix" ng-repeat="user in users">
                            <div class="col-xs-1" ng-bind="user.id"></div>
                            <div class="col-xs-1" ng-bind="user.phone_number"></div>
                            <div class="col-xs-1" ng-bind="user.status"></div>
                            <div class="col-xs-1" ng-bind="user.belong_agent"></div>
                            <div class="col-xs-1" ng-bind="user.beneficiary_name"></div>
                            <div class="col-xs-1" ng-bind=""></div>
                            <div class="col-xs-1" ng-bind=""></div>
                            <div class="col-xs-1" ng-bind=""></div>
                            <div class="col-xs-1" ng-bind=""></div>
                            <div class="col-xs-1" ng-bind=""></div>
                            <div class="col-xs-1" ng-bind=""></div>
                        </div>
                    </div>
                </div>
                <!--页码块-->
                <footer class="footer">
                    <ul class="pagination">
                        <li>
                            <select id="pagination-select">
                            </select>
                            页
                        </li>
                        <li class="gray">共{{total_page}}页</li>
                        <li><i class="pre-page glyphicon glyphicon-menu-left"></i></li>
                        <li><i class="next-page glyphicon glyphicon-menu-right"></i></li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
</div>
<script src="../js/lib/requirejs/require.min.js" data-main="../js/admin/user" defer async="true" charset="utf-8"></script>
</body>
</html>