<!doctype html>
<html lang="ch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>云客平台后台管理 | 用户管理</title>
    <!--<link rel="stylesheet" type="text/css" href="../js/lib/flat-ui/dist/css/flat-ui.min.css" />-->
    <link rel="stylesheet" type="text/css" href="../js/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../js/lib/AdminLTE-2.4.2/dist/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="../js/lib/AdminLTE-2.4.2/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        .tableHeader>div,.user-list>div {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }
        .next-page,.pre-page{
            cursor: pointer;
        }
        .next-page.disabled,.pre-page.disabled{
            cursor: not-allowed;
        }
    </style>
</head>
<body  ng-app="myApp">
<div id="wrap" class="skin-blue"  ng-controller="home_Ctrl">
    <header class="main-header">
        <a href="index.html" class="logo">
            <span class="logo-lg"><b>云客平台</b></span>
        </a>
        <nav class="navbar navbar-static-top">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">Admin</span>
                        </a>
                    </li>
                    <li>
                        <a class="sign-out" href="#" data-toggle="control-sidebar">Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--左侧导航-->
    <div class="leftMeun" id="leftMeun">
        <div id="personInfor">
            <p id="userName">杨鹏</p>
            <p><span>yangxp@qq.com</span></p>
        </div>
        <div class="meun-item meun-item-active" data-href="users.html"><img src="images/icon_user_grey.png">用户管理</div>
        <div class="meun-item" data-href="tasks.html"><img src="images/icon_source_grey.png">任务管理</div>
        <div class="meun-item" data-href="orders.html"><img src="images/icon_source_grey.png">订单管理</div>
        <div class="meun-item" data-href="agents.html"><img src="images/icon_chara_grey.png">代理商管理</div>
        <div class="meun-item" data-href="permission.html"><img src="images/icon_rule_grey.png">权限管理</div>
    </div>
    <!-- 右侧具体内容栏目 -->
    <div id="rightContent">
        <!-- Tab panes -->
        <div class="tab-content">
            <!--用户管理模块-->
            <div role="tabpanel" class="tab-pane active" id="user">
                <!--筛选部分-->
                <div class="check-div form-inline">
                    <div class="col-lg-6 col-xs-7 no-padding">
                        <div class="col-md-5 no-padding">
                            <div class="col-md-4">
                                <label for="user_id">用户ID</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="user_id" class="form-control input-sm" placeholder="输入用户的id">
                            </div>
                        </div>
                        <div class="col-md-5 no-padding">
                            <div class="col-md-4 no-padding">
                                <label for="user_phone">用户手机</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="user_phone" class="form-control input-sm" placeholder="输入用户手机号码">
                            </div>
                        </div>
                        <div class="col-md-2 no-padding">
                            <button class="btn-search btn btn-white btn-xs ">查 询 </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-4" style="text-align: right;">
                        <label for="agent">用户所属商户:&nbsp;</label>
                        <select id="agent" class="agent-name form-control">
                            <!--账号状态-->
                            <option value=""></option>
                            <option ng-repeat="agent in agents" value="{{agent.name}}" ng-bind="agent.val"></option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-xs-4" style=" padding-right: 40px;text-align: right;">
                        <label for="status">状态:&nbsp;</label>
                        <select id="status" class="user-status form-control">
                            <!--账号状态-->
                            <option value=""></option>
                            <option ng-repeat="status in user_status" value="{{status.name}}" ng-bind="status.val"></option>
                        </select>
                    </div>
                </div>
                <!--用户列表-->
                <div class="data-div">
                    <!--列表头-->
                    <div class="row tableHeader">
                        <div class="col-xs-1">用户ID</div>
                        <div class="col-xs-1">用户手机号</div>
                        <div class="col-xs-1">用户QQ号</div>
                        <div class="col-xs-1">状态</div>
                        <div class="col-xs-1">所属商户</div>
                        <div class="col-xs-1">收款姓名</div>
                        <div class="col-xs-1">收款账号</div>
                        <div class="col-xs-2">创建时间</div>
                        <div class="col-xs-2">更新时间</div>
                        <div class="col-xs-1">操作</div>
                    </div>
                    <div class="tablebody">
                        <!--数据列表-->
                        <div class="row user-list" ng-repeat="user in users">
                            <div class="col-xs-1" ng-bind="user.id"></div>
                            <div class="col-xs-1" ng-bind="user.phone_number"></div>
                            <div class="col-xs-1" ng-bind="user.user_qq"></div>
                            <div class="col-xs-1" ng-bind="user.status"></div>
                            <div class="col-xs-1" ng-bind="user.belong_agent"></div>
                            <div class="col-xs-1" ng-bind="user.beneficiary_name"></div>
                            <div class="col-xs-1" ng-bind="user.beneficiary_account"></div>
                            <div class="col-xs-2" ng-bind="user.created_at"></div>
                            <div class="col-xs-2" ng-bind="user.updated_at"></div>
                            <div class="col-xs-1">
                                <button class="btn btn-success btn-xs btn-user-status" data-id="{{ user.id}}" data-status="{{ user.status}}">禁用/启用</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--页码块-->
                <footer class="footer">
                    <ul class="pagination">
                        <li>
                            <select id="pagination-select">
                            </select>
                            页
                        </li>
                        <li class="gray">
                            共{{total_page}}页
                        </li>
                        <li>
                            <i class="pre-page glyphicon glyphicon-menu-left">
                            </i>
                        </li>
                        <li>
                            <i class="next-page glyphicon glyphicon-menu-right">
                            </i>
                        </li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
</div>
<script src="../js/lib/requirejs/require.min.js" data-main="../js/admin/user" defer async="true" charset="utf-8"></script>
</body>
</html>